*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
  vertical-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

a:hover {
  /* transform: scale(1.05); */
  font-size: 1.4rem;
  color: red;
}

p, h1, h2 {
  width: fit-content;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  vertical-align: middle;
  height: fit-content;
  background-color: ;
  border-bottom: 1px solid #fff;
  padding: 10px 55px;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 40px;
  transition: 0.5s ease-in-out;
}

.logo img:hover {
  margin-right: 10px;
  transform: rotate(30deg);
}

.logo h3 {
  font-size: 1.6rem;
}

nav, .nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}

.title-container {
  display: inline-block;
}

.hero-title {
  font-size: 6rem;
  line-height: 6.5rem;
  margin-left: 15px;
  vertical-align: middle;
  border-right: 20px solid #fff;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
    typing 1s steps(22),
    cursor .4s step-end infinite alternate;
  background-image: linear-gradient(45deg, yellow, orange);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes typing {
  from { width: 0 }
}

.hero-description {
  max-width: 550px;
  font-size: 1.5rem;
  font-weight: 600;
}

.get-started-hero-btn {
  padding: 10px 25px;
  background-color: orangered;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 15px;
}
